* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

.App {
  padding: 1rem;
}

.box-container {
  padding-bottom: 10rem;
}

.box {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: aquamarine;
}

.boxItem {
  background-color: #fff;
  padding: 1rem;
  list-style: none;
  margin: 0.3rem;
}
